@import "../../styles/global.module.scss";

.intro {
  background-color: $Midnight;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  scrollbar-width: none;
  @include mobile {
    flex-direction: column-reverse;
    align-items: center;
  }
  &::-webkit-scrollbar {
    display: none;
  }

  .rightI {
    flex: 65%;
    @include mobile {
      flex: 50%;
      overflow-y: hidden;
      overflow-x: hidden;
    }

    .intro_image_container {
      margin-right: 10%;
      overflow-y: hidden;
      overflow-x: hidden;
      @include mobile {
        margin: 10% 5% 5% 5%;
        overflow-y: hidden;
        overflow-x: hidden;
      }
      img {
        height: 100%;
        width: 100%;
        border-radius: 2%;
        overflow-y: hidden;
        overflow-x: hidden;
      }
    }
  }

  .leftI {
    flex: 35%;
    @include mobile {
      flex: 50%;
    }
    .intro_text_container {
      margin: 5%;
      @include mobile {
        margin: 3%;
      }
      .intro_statement_one {
        justify-content: space-around;
        align-items: center;
        @include mobile {
          font-size: 2em;
          justify-content: center;
          align-items: center;
          text-align: center;
        }
      }
      .intro_statement_two {
        justify-content: space-around;
        align-items: center;
        @include mobile {
          font-size: 1.75em;
          justify-content: center;
          align-items: center;
          text-align: center;
        }
      }
    }
  }
}
