@import "../../styles/global.module.scss";
.topbar {
  width: 100%;
  height: 4.5rem;
  background-color: white;
  color: $Midnight;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all 1s ease;
  overflow: hidden;
  .wrapper {
    padding: 1% 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left {
      display: flex;
      align-items: center;
      a {
        font-size: inherit;
        color: inherit;
        text-decoration: none;
        @include Tablet {
          font-size: 1rem;
        }
        @include Mobile {
          font-size: 0.9rem;
        }
      }

      .logo {
        font-size: 2.2rem;
        font-weight: 700;
        text-decoration: none;
        color: inherit;
        margin-right: 1rem;
        align-items: center;
        @include Tablet {
          margin-right: 0rem;
          font-size: 1.6rem;
        }
        @include Mobile {
          font-size: 1.8rem;
        }
      }

      .itemContainer {
        display: flex;
        align-items: center;
        margin-left: 2rem;
        align-items: center;

        @media screen and(max-width:741px) {
          display: none;
        }

        a {
          display: flex;
          font-size: inherit;
          color: inherit;
          text-decoration: none;
          align-items: center;
        }

        .icon {
          display: flex;
          font-size: 1.3rem;
          margin-right: 0.2rem;
          align-items: center;

          @include Tablet {
            margin-right: 0.2rem;
          }
        }

        span {
          display: flex;
          font-size: 0.9rem;
          font-weight: 500;
          align-items: center;

          @include Tablet {
            font-size: 0.8rem;
          }
        }
      }
    }

    .right {
      .hamburger {
        width: 2rem;
        height: 1.6rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;

        span {
          width: 100%;
          height: 0.2rem;
          background-color: $Midnight;
          transform-origin: left;
          transition: all 0.3s ease;
        }
      }
    }
  }

  &.active {
    background-color: $Midnight;
    color: white;

    .hamburger {
      span {
        &:first-child {
          background-color: white;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: white;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
