@import "../../styles/global.module.scss";
.contact {
  background-color: $Periwinkle;
  color: $Text;
  display: flex;
  @include Tablet_Mobile {
    flex-direction: column;
    overflow: hidden;
  }
}

.leftc {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  @include Mobile {
    display: none;
  }
  .Image_Container {
    margin: auto;
    width: 70%;
    @include Tablet {
      width: 40%;
    }
    img {
      display: flex;
      width: 100%;
    }
  }
}

.rightc {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  @include Tablet {
    flex: 2;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: black 2px solid;
    border-radius: 1rem;
    box-shadow: white 2px;
    height: 70vh;
    width: 25vw;

    @include Tablet {
      height: 60vh;
      width: 60vw;
    }

    @include Mobile {
      height: 80vh;
      width: 90vw;
    }

    h2 {
      color: black;
    }

    input {
      width: 90%;
      height: 7%;
      font-size: 1.2rem;
      border: none;
      outline: none;
      border-radius: 1rem;
      text-align: center;
      margin-top: 1.5%;

      &.error {
        border: red solid 2px;
      }

      @include Tablet {
        height: 5vh;
      }

      @include Mobile {
        width: 90%;
        height: 8%;
        font-size: 1.5rem;
        border-radius: 1rem;
      }
    }

    textarea {
      width: 90%;
      height: 10%;
      margin-top: 1.5%;
      margin-bottom: 1.5%;
      font-size: 1.2rem;
      border: none;
      outline: none;
      border-radius: 1rem;
      text-align: center;

      @include Mobile {
        width: 90%;
        height: 10%;
        font-size: 1.5rem;
        border-radius: 1rem;
      }
    }

    button {
      display: flex;
      color: white;
      background-color: $Grey;
      border: none;
      border-radius: 1rem;
      font-size: 1.2rem;
      font-weight: 500;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      padding: 1.5% 2%;
      overflow: hidden;

      @include HD {
        font-size: 1rem;
      }

      @include Tablet {
        padding: 3%;
        font-size: 1.3rem;
      }

      @include Mobile {
        padding: 4% 3%;
        font-size: large;
      }

      a {
        text-decoration: none;
        color: inherit;
        overflow: hidden;
      }
      &:focus {
        outline: none;
      }
    }
    span {
      color: green;
    }
  }
}
