/* Colors */
$Midnight: #1e1f26;
$Indigo: #283655;
$Indigo_two: #2c3b5c;
$Blueberry: #4d648d;
$Periwinkle: #d0e1f9;
$Text: whitesmoke;
$Grey: rgb(119, 119, 119);

/* Screen Sizes */
$Phone_width: 768px;
$FHD_width: 1920px;
$FHD_height: 1080px;
$HD_width: 1366px;
$HD_height: 768px;
$Phone_height_xs: 700px;
$Phone_height_s: 800px;
$Phone_height_m: 1000px;

@mixin FHD {
  @media screen and (max-width: #{$FHD_width}) and (max-height: #{$FHD_height}) {
    @content;
  }
}
@mixin HD {
  @media screen and (max-width: #{$HD_width}),(max-height: #{$HD_height}) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: #{$Phone_width}) {
    @content;
  }
}
@mixin h_s {
  @media (max-height: #{$Phone_height_xs}) {
    @content;
  }
}
@mixin mobile_height_s {
  @media (max-height: #{$Phone_height_s}) {
    @content;
  }
}
@mixin mobile_height_m {
  @media (max-height: #{$Phone_height_m}) {
    @content;
  }
}
